<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/swiper.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/swiper-bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="./kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="./kits.html">LOP 진단 키트</a></li>
                                    <li><a href="./platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K01">
                    <div class="path">
                        <span>제품 및 서비스</span>
                    </div>
                    <div class="title">
                        에이아이더뉴트리진은 이런 키트 개발했다
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class="on"><a href="./kits.html">LOP 진단 키트</a></li>
                    <li class=""><a href="./platform.html">LOPAI 플랫폼</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.LOP 키트 비브리오 패혈증-->
                <section class="section01" id="vibrio_1">
                    <div class="content1">
                        <div class="flex center">
                            <div class="word_wrap">
                                <div class="tit">Vibrio Vulnificus<br>Test Kit</div>
                                <div class="sub_tit">비브리오 패혈증 테스트 키트</div>
                                <div class="txt">식품 및 조리기구 등으로부터 Vibrio Vulnificus 균을<br>검출할 수 있는 LOP 진단 키트를 개발 및 판매를 하고 있습니다.</div>
                            </div>
                            <div class="img_wrap"><img src="../../img/sub/kit_img1.png" alt="키트"></div>
                        </div>
                        <div class="tit">특징 및 장점</div>
                        <div class="sub_tit">우수한 기술력을 바탕으로 차별화된 솔루션을 제공합니다.</div>
                        <div class="card_wrap">
                            <div class="card">
                                <img src="../../img/ico/kit1_card_ico_1.png" alt="아이콘">
                                <div class="tit">우수한 효율 성능</div>
                                <ul>
                                    <li class="txt">내부 민감도 95% 이상, <br>특이도 100%의 우수한 키트성능</li>
                                </ul>
                            </div>
                            <div class="card">
                                <img src="../../img/ico/kit1_card_ico_2.png" alt="아이콘">
                                <div class="tit">높은 신뢰성</div>
                                <ul>
                                    <li class="txt">Vibrio Vulnificus 식중독균의 <br>LOP 적용을 위한 최적의 조건을 확립</li>
                                    <li class="txt">PCR 급의 정확한 성능결과 확인</li>
                                </ul>
                            </div>
                            <div class="card">
                                <img src="../../img/ico/kit1_card_ico_3.png" alt="아이콘">
                                <div class="tit">편리성</div>
                                <ul>
                                    <li class="txt">식품위생 & 농수산물 검역 시장 현장에서 바로 사용가능한 제품</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content2">
                        <div class="product_mark_wrap">
                            <div class="tit">제품 인증서</div>
                            <ul class="flex center product-tabs">
                                <li class="on"><a href="javascript:;">외부 성능기관</a></li>
                                <li><a href="javascript:;">제품 상세스펙</a></li>
                                <li><a href="javascript:;">제품 개요</a></li>
                            </ul>
                            <div class="product-content">
                                <div style="display: block;">
                                    <div class="flex center jsb">
                                        <div class="paper_img_wrap"><img src="../../img/sub/kit_1_paper_1.png" alt="인증서"></div>
                                        <div class="paper_img_wrap"><img src="../../img/sub/kit_1_paper_2.png" alt="인증서"></div>
                                        <div class="paper_img_wrap"><img src="../../img/sub/kit_1_paper_3.png" alt="인증서"></div>
                                    </div>
                                </div>
                                <div style="display: none;">-</div>
                                <div style="display: none;">-</div>
                            </div>
                        </div>
                    </div>

                    <div class="content1 pt120 pb360" style="width: 100%;">
                        <div class="flex jsb flex-end">
                            <div class="tit">관련 제품 보기</div>
                            <div class="btn_wrap"><a href="javascript:;">전체 제품보기</a></div>
                        </div>
                        <div class="flex center products jsb">
                            <a href="./food_poison_2.html"><img src="../../img/kit/vib_2.png" alt="키트"></a>
                            <a href="./food_poison_3.html"><img src="../../img/kit/salmo.png" alt="키트"></a>
                            <a href="./food_poison_4.html"><img src="../../img/kit/ecoli.png" alt="키트"></a>
                        </div>
                    </div>
                </section>
                <!--e.LOP 키트 비브리오 패혈증-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">
$('.product-tabs li').click(function() {
    // 탭 메뉴 on 클래스 관리
    $('.product-tabs li').removeClass('on');
    $(this).addClass('on');
    // 탭 내용 표시
    const index = $(this).index();
    $('.product-content > div').hide();
    $('.product-content > div').eq(index).show();
});
</script>

</html>