<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/swiper.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/swiper-bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="./kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="./kits.html">LOP 진단 키트</a></li>
                                    <li><a href="./platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K01">
                    <div class="path">
                        <span>제품 및 서비스</span>
                    </div>
                    <div class="title">
                        에이아이더뉴트리진은 이런 키트 개발했다
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class="on"><a href="./kits.html">LOP 진단 키트</a></li>
                    <li class=""><a href="./platform.html">LOPAI 플랫폼</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.LOP 진단 키트-->
                <section class="section01" id="kits">
                    <div class="content1">
                        <div class="word_wrap">
                            <h1>AITHENUTRIGENE TEST KIT</h1>
                            <div class="flex jsb">
                                <div class="tit">제품 안내</div>
                                <div class="txt">
                                    디바이스 소형화 해서 대충 제품 라인업 올인원 LOPAI 분자진단 기술 제품화를 위해
                                    마이크로유체 시스템, 샘플전처리, 핵산증폭, 검출센서 등 다양한 기능 통합 필요
                                    모든 기능이 소형 디바이스에 구현될 수 있도록 통합 구조 개발
                                    기기의 성능을 최적화하고 사용자의 요구에 부합하는 기능 제공
                                    소형 분자진단 기기는 이동성이 중요하기 때문에 크기와 무게 최소화
                                </div>
                            </div>
                        </div>

                        <div class="slide_wrap">
                            <div class="flex jsb">
                                <div class="slide_title_wrap">
                                    <div class="tit">식중독 테스트 키트</div>
                                    <div class="txt">
                                        에이아이더뉴트리진이 가지고 있는 기술을 소개합니다.
                                    </div>
                                    <div id="newsTitWraps" class="news_tit_wrap">
                                        
                                    </div>
                                </div>
                        
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="./food_poison_1.html">
                                                <div class="img_wrap"><img src="../../img/kit/vib.png" alt="키트"></div>
                                            </a>
                                            <div class="words_wraps">
                                                <div class="num" >01</div>
                                                <div class="tit" >Vibrio Vulnificus TEST KIT</div>
                                                <div class="text" >
                                                    <ul>
                                                        <li>
                                                            식품 및 조리기구 등으로부터 Vibrio Vulnificus 균을<br>검출할 수 있는 LOP 진단 키트를 개발 및 판매를 하고 있습니다.
                                                        </li>
                                                        <li class="product_link_wrap"><a href="./food_poison_1.html"><span>제품 자세히보기</span><img src="../../img/ico/kits_arrow.png" alt="아이콘"> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="swiper-slide" >
                                            <a href="./food_poison_2.html">
                                                <div class="img_wrap"><img src="../../img/kit/vib_2.png" alt="키트"></div>
                                            </a>
                                            <div class="words_wraps">
                                                <div class="num" >02</div>
                                                <div class="tit" >Vibrio Parahaemolyticus TEST KIT</div>
                                                <div class="text" >
                                                    <ul>
                                                        <li>
                                                            해산물 어패류 및 조리기구를 통해 Vibrio Parahaemolyticus균을<br>검출할 수 있는 LOP 진단 키트를 개발 및 판매를 하고 있습니다.
                                                        </li>
                                                        <li class="product_link_wrap"><a href="./food_poison_2.html"><span>제품 자세히보기</span><img src="../../img/ico/kits_arrow.png" alt="아이콘"> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="swiper-slide">
                                            <a href="./food_poison_3.html">
                                                <div class="img_wrap"><img src="../../img/kit/salmo.png" alt="키트"></div>
                                            </a>
                                            <div class="words_wraps">
                                                <div class="num" >03</div>
                                                <div class="tit" >Salmonella Typhimurium TEST KIT</div>
                                                <div class="text" >
                                                    <ul>
                                                        <li>
                                                            식재료 및 양식장의 오염 여부를 판단하기 위해 Salmonella Typhimurium 균을<br>검출할 수 있는 LOP 진단 키트를 개발 및 판매를 하고 있습니다.
                                                        </li>
                                                        <li class="product_link_wrap"><a href="./food_poison_3.html"><span>제품 자세히보기</span><img src="../../img/ico/kits_arrow.png" alt="아이콘"> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="./food_poison_4.html">
                                                <div class="img_wrap"><img src="../../img/kit/ecoli.png" alt="키트"></div>
                                            </a>
                                            <div class="words_wraps">
                                                <div class="num" >04</div>
                                                <div class="tit" >E. Coli O157:H7 TEST KIT</div>
                                                <div class="text" >
                                                    <ul>
                                                        <li>
                                                            유아에게 전염성 설사증, 성인에게 급성장염을 일으키는 E. Coli O157:H7 균을<br>검출할 수 있는 LOP 진단 키트를 개발 및 판매를 하고 있습니다.
                                                        </li>
                                                        <li class="product_link_wrap"><a href="./food_poison_4.html"><span>제품 자세히보기</span><img src="../../img/ico/kits_arrow.png" alt="아이콘"> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.LOP 진단 키트-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">
//section swiper
const swipers = new Swiper('.swiper-container', {
    // 슬라이더 설정
    slidesPerView: 1.3,
    loop: true,
    spaceBetween: 10,
    autoplay: {
        delay: 5000,
    },
    speed:1000,
    on: {
        slideChange: function () {
            const activeSlide = this.slides[this.activeIndex];
            const wordsWrapContent = activeSlide.querySelector('.words_wraps').innerHTML;
            document.getElementById('newsTitWraps').innerHTML = wordsWrapContent;
        }
    }
});
///////////////section swiper
</script>

</html>