<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/swiper.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/swiper-bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="./kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="./kits.html">LOP 진단 키트</a></li>
                                    <li><a href="./platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K06">
                    <div class="path">
                        <span>LOPAI 플랫폼</span>
                    </div>
                    <div class="title">
                        차별화된 AI 기술력을 바탕으로<br> 
                        개인 진단 및 디지털 헬스케어 서비스를 준비하고 있습니다.
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class=""><a href="./kits.html">LOP 진단 키트</a></li>
                    <li class="on"><a href="./platform.html">LOPAI 플랫폼</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.lop 플랫폼-->
                <section class="section01" id="platform">
                    <div class="content1">
                        <div class="word_wrap">
                            <h1>AITHENUTRIGENE TEST KIT</h1>
                            <div class="flex jsb">
                                <div class="tit">디지털 헬스케어 플랫폼</div>
                                <div class="txt">
                                    LOPAI 키트의 진단을 AI를 통해 보다 정확하게 판독 결과를 할수 있는 서비스를 제공 하며
                                    인공지능과 머신러닝 기술을 활용해 개인의 건강 데이터를 분석하고, 맞춤형 건강 관리를 모바일로 통해 서비스를 하는 플랫폼 입니다.
                                    모바일 플랫폼을 통해 의료 기록을 체계적으로 관리하고, 필요 시 쉽게 접근할 수 있어 의료 서비스의 연속성을 유지할 수 있는 장점이 있으며,
                                    웨어러블 기기와 건강 앱을 통해 일상 생활에서 건강 상태를 지속적으로 모니터링하고, 조기에 문제를 발견해 예방적 조치를 취할 수 있는 솔루션 입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content1 for_slider">
                        <div class="research_word">LOPAI가 가지고 있는<br>기술을 소개합니다</div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide first"></div>

                                <div class="swiper-slide second"></div>

                                <div class="swiper-slide third"></div>

                                <div class="swiper-slide four"></div>
                                
                                <div class="swiper-slide first"></div>

                                <div class="swiper-slide second"></div>

                                <div class="swiper-slide third"></div>

                                <div class="swiper-slide four"></div>

                                <div class="swiper-slide first"></div>

                                <div class="swiper-slide second"></div>

                                <div class="swiper-slide third"></div>

                                <div class="swiper-slide four"></div>

                                <div class="swiper-slide first"></div>

                                <div class="swiper-slide second"></div>

                                <div class="swiper-slide third"></div>

                                <div class="swiper-slide four"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.lop 플랫폼-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">
//section swiper
const swiper = new Swiper('.swiper-container', {
    slidesPerView: 2.5, // 슬라이드가 2개 반 정도 보이도록 설정
    loop: true,
    spaceBetween: 20,
    loopAdditionalSlides: 3,
    speed: 1000,
    autoplay: {
        delay: 5000,
    },
});
///////////////section swiper
</script>

</html>