<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="./news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="./news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="./ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="./ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="./qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K04">
                    <div class="path">
                        <span class="f000">IR</span>
                    </div>
                    <div class="title f000">
                        존경하는 (주)에이아이더뉴트리진 고객<br> 
                        그리고 투자자 여러분, 관심으로 지켜봐 주셔서 깊은 감사 드립니다.
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class="on"><a href="./ir.html">IR</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.IR-->
                <section class="section01" id="ir">
                    <div class="content1 ">
                        <div class="board-container">
                            <!-- 상단 정보 -->
                            <div class="board-header">
                                <span>Total 13건 1 페이지</span>
                            </div>
                    
                            <!-- 게시판 리스트 -->
                            <table class="board-table">
                                <thead>
                                    <tr>
                                        <th class="th-number">번호</th>
                                        <th class="th-title">제목</th>
                                        <th class="th-author">글쓴이</th>
                                        <th class="th-date">등록일</th>
                                        <th class="th-views">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 여기에 게시글 데이터가 들어갑니다 -->
                                    <tr>
                                        <td>13</td>
                                        <td class="t-left"><a href="./ir_read.html">[정정] 신주발행(제3자배정) 공고</a></td>
                                        <td>관리자</td>
                                        <td>2024-04-12</td>
                                        <td>150</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td class="t-left"><a href="javascript:;">[기재정정]자기주식처분결과보고서</a></td>
                                        <td>관리자</td>
                                        <td>2024-03-23</td>
                                        <td>253</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td class="t-left"><a href="javascript:;">증권발행결과(자율공시)</a></td>
                                        <td>관리자</td>
                                        <td>2024-10-18</td>
                                        <td>565</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td class="t-left"><a href="javascript:;">[첨부정정]주요사항보고서(자기주식처분결정)</a></td>
                                        <td>관리자</td>
                                        <td>2024-05-31</td>
                                        <td>218</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td class="t-left"><a href="javascript:;">[첨부정정]주요사항보고서(교환사채권발행결정)</a></td>
                                        <td>관리자</td>
                                        <td>2024-05-13</td>
                                        <td>359</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td class="t-left"><a href="javascript:;">신주발행(제3자배정) 공고</a></td>
                                        <td>관리자</td>
                                        <td>2024-02-25</td>
                                        <td>514</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td class="t-left"><a href="javascript:;">주요사항보고서(유상증자결정)</a></td>
                                        <td>관리자</td>
                                        <td>2024-12-22</td>
                                        <td>310</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td class="t-left"><a href="javascript:;">기타시장안내(약명및영문명)</a></td>
                                        <td>관리자</td>
                                        <td>2024-07-23</td>
                                        <td>410</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td class="t-left"><a href="javascript:;">주식등의대량보유상황보고서(일반)</a></td>
                                        <td>관리자</td>
                                        <td>2024-04-20</td>
                                        <td>791</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="t-left"><a href="javascript:;">임원ㆍ주요주주특정증권등소유상황보고서</a></td>
                                        <td>관리자</td>
                                        <td>2024-05-03</td>
                                        <td>374</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="t-left"><a href="javascript:;">사외이사의선임ㆍ해임또는중도퇴임에관한신고</a></td>
                                        <td>관리자</td>
                                        <td>2024-12-06</td>
                                        <td>350</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="t-left"><a href="javascript:;">상호변경안내</a></td>
                                        <td>관리자</td>
                                        <td>2024-11-11</td>
                                        <td>334</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td class="t-left"><a href="javascript:;">정기주주총회결과</a></td>
                                        <td>관리자</td>
                                        <td>2024-10-26</td>
                                        <td>399</td>
                                    </tr>
                                    <!-- 추가적인 게시글 행을 여기에 추가 -->
                                </tbody>
                            </table>
                    
                            <!-- 페이지 네이션 -->
                            <div class="pagination flex center jc">
                                <a href="#" class="first_btn"><img src="../../img/ico/first.png" alt="처음"></a>
                                <a href="#" class="prev_btn"><img src="../../img/ico/prev.png" alt="이전"></a>
                                <a href="#" class="page_num on ml0">1</a>
                                <a href="#" class="page_num">2</a>
                                <a href="#" class="page_num">3</a>
                                <a href="#" class="page_num">4</a>
                                <a href="#" class="page_num">5</a>
                                <a href="#" class="next_btn"><img src="../../img/ico/next.png" alt="다음"></a>
                                <a href="#" class="last_btn"><img src="../../img/ico/last.png" alt="마지막"></a>
                            </div>
                    
                            <!-- 검색창 -->
                            <div class="search-box flex center jc">
                                <select name="search_select" id="search_select">
                                    <option value="제목" selected>제목</option>
                                    <option value="내용">내용</option>
                                    <option value="제목+내용">제목+내용</option>
                                </select>
                                <input type="text" id="search" placeholder="검색어">
                                <button id="search-btn">검색</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.IR-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">

</script>

</html>