<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="./news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="./news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="./ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="./ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="./qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K03">
                    <div class="path">
                        <span class="f000">AN 소식</span>
                    </div>
                    <div class="title f000">
                        (주)에이아이더뉴트리진의 새로운 소식과 다양한 서비스 등을<br>가장 빠르게 전해드려요
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class="on"><a href="./news.html">News & Media</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.news-->
                <section class="section01" id="news">
                    <div class="content1 ">
                        <div class="board-container">
                            <!-- 상단 정보 -->
                            <div class="board-header">
                                <span>Total 13건 1 페이지</span>
                            </div>
                    
                            <!-- 게시판 리스트 -->
                            <div class="board_list">
                                <a href="./news_read.html">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_1.png" alt="뉴스"></div>
                                        <div class="tit_wrap">에이아이더뉴트리진, 우즈베키스탄과<br>감염병 진단기술 및 디지털 모니터링 업무협약</div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.04.30</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_2.png" alt="뉴스"></div>
                                        <div class="tit_wrap">어디 투자하지? 고민이라면…
                                            'AI+바이오' 이곳 주목하라</div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.04.18</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_3.png" alt="뉴스"></div>
                                        <div class="tit_wrap">美 NEB사, 에이아이더뉴트리진 본사 방문</div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.04.09</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_4.png" alt="뉴스"></div>
                                        <div class="tit_wrap">에이아이더뉴트리진, 
                                            LOP진단키트 58만 불 수출계약 체결</div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.02.07</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_5.png" alt="뉴스"></div>
                                        <div class="tit_wrap">에이아이더뉴트리진, 
                                            이스라엘 진단기업과 신제품 개발 협약</div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.01.31</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;">
                                    <div>
                                        <div class="img_wrap"><img src="../../img/sub/news_6.png" alt="뉴스"></div>
                                        <div class="tit_wrap">UXN-에이아이더뉴트리진, 
                                            연속혈당측정기와 차세대 분자진단 LOP기술 
                                            결합 통해 체외진단 모델 만든다
                                            </div>
                                        <div class="flex center jsb">
                                            <div class="date">2024.01.26</div>
                                            <div class="read flex center">Read More<span><img src="../../img/ico/arrow.png" alt="화살표"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    
                            <!-- 페이지 네이션 -->
                            <div class="pagination flex center jc">
                                <a href="#" class="first_btn"><img src="../../img/ico/first.png" alt="처음"></a>
                                <a href="#" class="prev_btn"><img src="../../img/ico/prev.png" alt="이전"></a>
                                <a href="#" class="page_num on ml0">1</a>
                                <a href="#" class="page_num">2</a>
                                <a href="#" class="page_num">3</a>
                                <a href="#" class="page_num">4</a>
                                <a href="#" class="page_num">5</a>
                                <a href="#" class="next_btn"><img src="../../img/ico/next.png" alt="다음"></a>
                                <a href="#" class="last_btn"><img src="../../img/ico/last.png" alt="마지막"></a>
                            </div>
                    
                            <!-- 검색창 -->
                            <div class="search-box flex center jc">
                                <select name="search_select" id="search_select">
                                    <option value="제목" selected>제목</option>
                                    <option value="내용">내용</option>
                                    <option value="제목+내용">제목+내용</option>
                                </select>
                                <input type="text" id="search" placeholder="검색어">
                                <button id="search-btn">검색</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.news-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">

</script>

</html>