<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="../intropage/greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="../intropage/greething.html" >회사개요</a></li>
                                    <li><a href="../intropage/ceo.html" >CEO 인사말</a></li>
                                    <li><a href="../intropage/location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="./news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="./news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="./ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="./ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="./qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv K03">
                    <div class="path">
                        <span class="f000">AN 소식</span>
                    </div>
                    <div class="title f000">
                        (주)에이아이더뉴트리진의 새로운 소식과 다양한 서비스 등을<br>가장 빠르게 전해드려요
                    </div>
                </div>
            </div>

            <div class="contents">
                <!--s.게시글-->
                <section class="section01" id="read">
                    <div class="content1 ">
                        <div class="read_wrap">
                            <div class="tit">에이아이더뉴트리진, 우즈베키스탄과 감염병 진단기술 및 디지털 모니터링 업무협약</div><!--제목-->
                            <div class="flex center jc">
                                <span class="date">2024.04.30</span>
                                <span class="writer">관리자</span>
                            </div>

                            <!--게시글 본문-->
                            <div class="txt_wrap">
                                <img src="https://nutrigene.kr/shop/data/image/8d6ff95a12456f40eba9d45dc822015e.jpg" class="img_wrap"><br><br><br><br>
                                현장용 분자진단 전문기업 에이아이더뉴트리진(대표 김수화)이 글로벌 진출에 박차를 가하고 있다.<br><br>

                                에이아이더뉴트리진은 우즈베키스탄 등 중앙아시아 국가를 대상으로 주력제품인 분자진단 플랫폼(Lab-on-Paper-Artificial Intelligence; LOPAI)을 기반으로 이 지역 시장공략을 추진 중이다.<br><br>
                                
                                지난 26일에 우즈베키스탄 수도 타슈겐트에서 개최된 SES(Service for Sanitary and Epidemiological Welfare and Public Health, 우즈베키스탄 질병관리청) 주관 국제세미나에서 회사가 개발한 분자진단 LOPAI기술을 소개하고 감염병 관련 우즈베키스탄 주요 부처인 질병관리청(SES)과 국립바이러스연구소(Research Institute of Virology)와 감염병 진단기술 및 디지털 모니터링에 대한 업무협약을 맺었다.<br><br>
                                
                                이번 세미나는 질병관리청이 설립된 지 90주년을 기념하는 행사로 세계보건기구(WHO), UNOPS(유엔 프로젝트 조달기구), 세계은행(World Bank), UNICEF 및 한국국제보건의료재단(KOFIH) 등이 후원했다. 코로나19 이후 다가오는 다음 팬데믹에 대비한 국가 공공방역 및 진단기술, 국제 의료자원 조달지원에 대한 내용을 중점적으로 논의했다.<br><br>
                                
                                질병관리청 부청장 보트리존 쿠르바노프 박사는 “한국의 진단기술은 매우 높은 수준의 기술력을 가지고 있으며 LOPAI와 같은 최신 기술이 우즈베키스탄 의료 현장에 빨리 적용되기를 희망한다”고 밝혔다.<br><br>
                                
                                국립바이러스연구소는 1978년에 설립된 우즈베키스탄 연구소로 HIV/AIDS, 바이러스 성 간염, 바이러스 간경변 등 감염병과 기생충 질환을 전문으로 연구하는 과학의료센터다. 국립바이러스연구소 소장인 Dr. Erkin Musabaev 박사는 에이아이더뉴트리진의 LOPIA 분자진단 기술에 대해 우즈베키스탄과 중앙아시아에 절실히 필요한 기술로 적극적인 협업 의지를 보였으며, 혁신적인 기술의 신속한 도입과 현지 상용화에 대한 폭넓은 의견을 교환했다.<br><br>
                                
                                에이아이더뉴트리진은 현재 아시아, 아프리카 남미 등 많은 글로벌 기업들에게 회사 핵심 기술인 LOPAI 기술관련 사업을 전개하고 있다. 김수화 대표는 “미국이나 유럽 등 의료기술이 앞선 고소득국가(High Income Country)들과 저소득 국가(LMIC & LIC, Low and Middle Income Countries & Low Income Countries)들과 이원화하는 Dual Policy 전략을 가지고 차별적으로 접근하고 있다. 이번 우즈베키스탄의 경우 중요한 국가 기관들 과의 협력관계를 이용하여 신속하게 민간 의료시장으로 진입할 계획을 가지고 있다”며 “HIV키트와 성병관련 LOPAI 제품을 우선적으로 고려하여 다양한 마케팅 활동과 판매망을 개척할 계획이다”고 밝혔다.<br><br>
                                
                                한경닷컴 뉴스룸 open@hankyung.com<br><br>
                                <div>출처 :  한국경제 <a href="https://n.news.naver.com/mnews/article/015/0004978991?sid=101" target="_blank">(https://n.news.naver.com/mnews/article/015/0004978991?sid=101)</a></div>
                            </div>
                            <!--게시글 본문-->

                            <!--다음글-->
                            <div class="next_wrap flex center">
                                <div><img src="../../img/ico/up_arrow.png" alt="다음"></div>
                                <div class="mont">NEXT</div>
                                <div><a href="javascript:;">[기재정정] 자기주식처분결과보고서</a></div>
                                <div class="flex center">
                                    <div class="writer">관리자</div>
                                    <div class="date">2024-04-31</div>
                                    <div class="join_num">245</div>
                                </div>
                            </div>
                            <!--다음글-->

                            <!--이전글-->
                            <div class="prev_wrap flex center">
                                <div><img src="../../img/ico/down_arrow.png" alt="이전"></div>
                                <div class="mont">PREV</div>
                                <div><a href="javascript:;">[기재정정] 자기주식처분결과보고서</a></div>
                                <div class="flex center">
                                    <div  class="writer">관리자</div>
                                    <div class="date">2024-04-20</div>
                                    <div class="join_num">155</div>
                                </div>
                            </div>
                            <!--이전글-->
                            <div class="button"><a href="./news.html">목록으로</a></div>
                        </div>
                    </div>
                </section>
                <!--e.게시글-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">

</script>

</html>