<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="./greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="./greething.html" >회사개요</a></li>
                                    <li><a href="./ceo.html" >CEO 인사말</a></li>
                                    <li><a href="./location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv">
                    <div class="path">
                        <span>회사소개</span>
                    </div>
                    <div class="title">
                        에이아이더뉴트리진은 건강과 더 나은 인류의 삶을 위하는 글로벌 생명공학기업입니다.
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class=""><a href="./greething.html">회사 개요</a></li>
                    <li class="on"><a href="./ceo.html">CEO 인사말</a></li>
                    <li class=""><a href="./location.html">오시는 길</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.오시는길-->
                <section class="section01" id="ceo">
                    <div class="content1">
                        <h1>CEO Message</h1>
                        <div>
                            <div class="flex jsb flex-end mb48">
                                <div class="location_word">
                                    건강한 삶을 통해<br>새로운 가치를 창조합니다.
                                </div>
                            </div>

                            <!--ceo 인사말-->
                            <div class="ceo_wrap flex jsb">
                                <div class="w40">
                                    <div class="ceo_tit">안녕하십니까? <span>(주)에이아이더뉴트리진</span>의 대표이사 김수화입니다.</div>
                                    <div class="ceo_txt f666">
                                        NK세포는 이미 다양한 임상을 통해 탁월한 항암 효과를 보여주고 있으며, 류머티스관절염,
                                        1형 당뇨병, 아토피, 건선, 갑상선 기능 항진증, 크론병, 궤양성 대장염, 베체트병, 쇼그렌
                                        증후군, 루푸스, 루게릭 등 자가면역 질환부터, 파킨슨, 알츠하이머, 퇴행성 뇌질환 등의
                                        노인성 질환 치료는 물론 면역배양세포를 원료로 한 Anti-Aging 까지, 현대의학의 패러다임
                                        변화를 선두에서 이끌어가고 있습니다. 세계 자가면역질환 치료제 시장 규모 또한, 놀라운
                                        속도로 성장 중이며, 2025년 238억 6,000만 달러로 전망하고 있습니다.
                                    </div>
                                    <div class="flex center ceo_txt bold f000 mt30">
                                        (주)에이아이더뉴트리진 대표이사
                                        <img src="../../img/sub/sign.png" alt="sign" class="ml10">
                                    </div>
                                </div>
                                <div class="ceo_pic_wrap"><img src="../../img/sub/ceo.png" alt="ceo"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.오시는길-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">

</script>

</html>