<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="./greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="./greething.html" >회사개요</a></li>
                                    <li><a href="./ceo.html" >CEO 인사말</a></li>
                                    <li><a href="./location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv">
                    <div class="path">
                        <span>회사소개</span>
                    </div>
                    <div class="title">
                        에이아이더뉴트리진은 건강과 더 나은 인류의 삶을 위하는 글로벌 생명공학기업입니다.
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class="on"><a href="../../view/intropage/greething.html">회사 개요</a></li>
                    <li class=""><a href="../../view/intropage/ceo.html">CEO 인사말</a></li>
                    <li class=""><a href="../../view/intropage/location.html">오시는 길</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.회사개요-->
                <section class="section01" id="companyintro">
                    <div class="content1">
                        <h1>Company overview</h1>
                        <div class="text_wrap">
                            <div class="tit">We are dreaming a world without disease</div>
                            <div class="txt">
                                현대사회의 다양한 질병 발생에 대응하기 위해, AItheNutrigene은 혁신적인 바이오 헬스케어 솔루션을 연구 개발하고 있습니다. 이는 단순한 질병 치료를 넘어, 예방과 관리까지 포괄하는 포괄적인 접근 방식을 통해 건강한 사회를 구현하는 것을 목표로 하고 있습니다.
                            </div>
                            <div class="tit">Save time, Save lives</div>
                            <div class="txt">
                                100세 시대에 발맞춰, 질병의 조기 발견과 예방은 시간과 비용을 절감할 수 있는 핵심 열쇠입니다. AItheNutrigene은 최신의 AI 기술을 활용하여 정확한 검사와 진단을 바탕으로 효과적인 솔루션을 제공하고 있습니다. 이를 통해 의료진과 환자는 보다 신속하고 정확하게 질병을 관리할 수 있으며, 이는 장기적으로 의료 비용 절감과 삶의 질 향상으로 이어집니다. 이러한 노력은 단순한 의료 행위에 그치지 않고, 환자가 건강한 일상을 유지할 수 있게 도와줍니다.
                            </div>
                            <div class="tit">Doctors and Patients, a Harmonious Partnership</div>
                            <div class="txt">
                                국내 1,000여 개의 주요 의료기관과 협력하며, 의학 전문가와 환자의 요구사항을 깊이 있게 파악하고 있습니다. 이러한 협력 관계는 각기 다른 의료 환경에서 발생하는 다양한 문제를 해결하는 데 중요한 역할을 합니다. AItheNutrigene은 IT 융합 기술을 적용한 혁신적인 솔루션을 개발, 제공함으로써 의료 서비스의 질적 향상에 기여하고 있습니다. 특히, 환자의 데이터를 안전하게 관리하고 분석하여 맞춤형 치료를 제공함으로써, 환자와 의료진 간의 신뢰를 구축하고 있습니다.
                            </div>
                            <div class="tit">Molecular Diagnostics (MDx) Unlocking the Future</div>
                            <div class="txt">
                                분자진단 기술을 통해 바이러스, 세균 등 감염 여부를 신속하게 파악할 수 있습니다. 이는 단순한 감염 여부 확인을 넘어, 감염의 원인과 유형을 정밀하게 분석하는 데 큰 도움이 됩니다. 이를 통해 환경 변화에 따른 질병을 조기에 발견하고 선제적으로 대응할 수 있는 기반을 마련하고 있습니다. 예를 들어, 특정 바이러스의 유전자 변이를 신속하게 분석하여, 새로운 질병의 확산을 막고 기존 치료법을 개선하는 데 활용할 수 있습니다. 이러한 기술은 앞으로의 의료 환경에서 중요한 역할을 할 것이며, AItheNutrigene은 이를 통해 더 나은 미래를 만들어가고 있습니다.
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.회사개요-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">
    let elements = $('.text_wrap .tit, .text_wrap .txt');
    let currentIndex = 0;

    function checkScroll() {
        let scrollPosition = $(window).scrollTop();
        let windowHeight = $(window).height();
        
        elements.each(function(index, element) {
            let elementOffset = $(element).offset().top;
            if (scrollPosition + windowHeight > elementOffset + 100) {
                $(element).addClass('active');
            } else {
                $(element).removeClass('active');
            }
        });
    }

    $(window).on('scroll', checkScroll);
    checkScroll();
</script>

</html>