<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="에이아이더뉴트리진,aithenutrigene,AI기술,에이아이기술,바이오헬스케어,분자진단기술,코로나19 진단키트,코로나 신속진단키트,신속진단키트,항원진단키트,융합플랫폼기술,식품소재임상">
    <title>AITHENUTRIGENE</title>

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/intro.css">
    <link rel="stylesheet" href="../../css/sub.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/font.css">
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
    <div class="container">
        <!--s.헤더-->
        <header class="header mont" id="header">
            <div class="h_top">
                <span class="gnb_bg" ></span>
                <div class="inner-type02">
                    <h1 id="logo"><a href="../../index.html"><img src="../../img/ico/logo.png" alt="AITHENUTRIGENE - 에이아이더뉴트리진"></a></h1>
                    <div class="gnb_wrap" id="gnb_wrap">
                        <ul class="gnb">
                            <li>
                                <a href="./greething.html">회사소개</a>
                                <ul class="gsnb" >
                                    <li><a href="./greething.html" >회사개요</a></li>
                                    <li><a href="./ceo.html" >CEO 인사말</a></li>
                                    <li><a href="./location.html" >오시는 길</a></li>
                                </ul>
                            </li>
                            <li><a href="../research/diagnosis.html">연구개발</a>
                                <ul class="gsnb" >
                                    <li><a href="../research/diagnosis.html">진단기술개발</a></li>
                                    <li><a href="../research/analyze.html">분석기술개발</a></li>
                                </ul>
                            </li>
                            <li><a href="../product/kits.html">제품 및 서비스</a>
                                <ul class="gsnb" >
                                    <li><a href="../product/kits.html">LOP 진단 키트</a></li>
                                    <li><a href="../product/platform.html">LOPAI 플랫폼</a></li>
                                </ul>
                            </li>                       
                            <li><a href="../board/news.html">AN 소식</a>
                                <ul class="gsnb">
                                    <li><a href="../board/news.html">News&Media</a></li>
                                </ul>
                            </li>
                            <li><a href="../board/ir.html">IR</a>
                                <ul class="gsnb">
                                    <li><a href="../board/ir.html">공시정보</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../board/qa.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="language">
                        <li class="language__crnt"><a href="/">ENG</a></li>
                        <li class="language__crnt"><a href="/">ESP</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--e.헤더-->

        <div class="section_wrap intropage">
            <div class="intro">
                <div class="sv">
                    <div class="path">
                        <span>회사소개</span>
                    </div>
                    <div class="title">
                        에이아이더뉴트리진은 건강과 더 나은 인류의 삶을 위하는 글로벌 생명공학기업입니다.
                    </div>
                </div>
            </div>

            <div class="sub_header">
                <ul class="flex center jc">
                    <li class=""><a href="../../view/intropage/greething.html">회사 개요</a></li>
                    <li class=""><a href="../../view/intropage/ceo.html">CEO 인사말</a></li>
                    <li class="on"><a href="../../view/intropage/location.html">오시는 길</a></li>
                </ul>
            </div>

            <div class="contents">
                <!--s.오시는길-->
                <section class="section01" id="location">
                    <div class="content1">
                        <h1>Locaiton</h1>
                        <div>
                            <div class="flex jsb flex-end mb48">
                                <div class="location_word">
                                    에이아이더뉴트리진에<br>오시는 길을 소개합니다
                                </div>
                                <ul class="location-tab">
                                    <li class="on">
                                        <div>BIO Office</div>
                                    </li>
                                    <li  class="">
                                        <div>AI Office</div>
                                    </li>
                                </ul>
                            </div>

                            <!--바이오 사업부-->
                            <div class="bio_loca_wrap">
                                <div class="flex column">
                                    <!--s.지도 들어갈 영역-->
                                    <div class="w100 map_wrap">
                                        <img src="../../img/sub/bio_company_location.png" alt="임시지도">
                                    </div>
                                    <!--e.지도 들어갈 영역-->
                                    
                                    <div class="flex jsb w100">
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold" >ADDRESS</div>
                                                <img src="../../img/ico/Pin_fill.png" alt="위치" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">주소</div>
                                                <div class="pre_txt">
                                                    경기도 성남시 수정구 창업로 42 6층 630<br>
                                                    (판교제2테크노밸리경기기업성장센터)
                                                </div>
                                            </div>
                                        </div>                                            
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold">TEL</div>
                                                <img src="../../img/ico/Phone_fill.png" alt="phone" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">연락처</div>
                                                <div class="pre_txt">1666-5950</div>
                                            </div>
                                        </div>  
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold">E-mail</div>
                                                <img src="../../img/ico/Message_alt_fill.png" alt="email" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">이메일</div>
                                                <div class="pre_txt">help@aithenutrigene.com</div>
                                            </div>
                                        </div>                                           
                                    </div>
                                </div>
                            </div>

                            <!--ai사업부-->
                            <div class="ai_loca_wrap">
                                <div class="flex column">
                                    <!--s.지도 들어갈 영역-->
                                    <div class="w100  map_wrap">
                                        <img src="../../img/sub/bio_company_location.png" alt="임시지도">
                                    </div>
                                    <!--e.지도 들어갈 영역-->

                                    <div class="flex jsb  w100">
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold" >ADDRESS</div>
                                                <img src="../../img/ico/Pin_fill.png" alt="위치" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">주소</div>
                                                <div class="pre_txt">
                                                    서울특별시 강남구 논현로 503 17층<br>
                                                    (역삼동, 송촌빌딩)
                                                </div>
                                            </div>
                                        </div>                                            
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold">TEL</div>
                                                <img src="../../img/ico/Phone_fill.png" alt="phone" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">연락처</div>
                                                <div class="pre_txt">02-563-2244</div>
                                            </div>
                                        </div>  
                                        <div class="mt40">
                                            <div class="flex jsb">
                                                <div class="bold">E-mail</div>
                                                <img src="../../img/ico/Message_alt_fill.png" alt="email" >
                                            </div>
                                            <div class="mt8">
                                                <div class="pre">이메일</div>
                                                <div class="pre_txt">marketing@aithe.io</div>
                                            </div>
                                        </div>                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--e.오시는길-->
            </div>
        </div>

        <!--s.footer -->
        <div class="section fp-auto-height" id="section6">
            <div class="section-inner">
                <div>
                    <div class="flex">
                        <div class="mr140">
                            <div class="tit">OFFICE</div>
                            <div class="flex center">
                                <div class="sub_tit w90px">바이오사업부</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">
                                경기도 성남시 수정구 창업로 42 6층 630호
                                    (판교제2테크노밸리경기기업성장센터)
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="sub_tit w90px">AI 사업부</div>
                                <div class="footer_line_small mt16"></div>
                                <div class="text">
                                    서울특별시 강남구 논현로 503 17층(역삼동, 송촌빌딩)
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="tit">CONTACT</div>
                            <div class="flex  center">
                                <div class="sub_tit w74px">1666-5950</div>
                                <div class="footer_line_small mt14"></div>
                                <div class="text">help@aithenutrigene</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt80">
                        <div class="flex center">
                            <div class="sub_tit_small">대표 : 김수화</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                사업자등록번호 : 264-81-04609
                            </div>
                        </div>
                        <div class="flex center">
                            <div class="sub_tit_small">경기도 성남시 수정구 창업로 42, 6층 630호(시흥동, 판교 제2테크노밸리 경기 기업성장센터)</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Tel : 031-715-5950</div>
                            <div class="footer_line_small"></div>
                            <div class="sub_tit_small">Fax : 031-715-5952</div>
                            <div class="footer_line_small"></div>
                            <div class="text_small">
                                help@aithenutrigene
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_line"></div>
                <div class="flex center jsb sub_tit_small">
                    <div>COPYRIGHT ⓒ 2024 AItheNutriGene Co.,Ltd. ALL RIGHTS RESERVED.</div>
                    <div class="flex">
                        <div class="mr20 sub_tit_small"><a href="javascript:;" id="openPopupBtn">개인정보처리방침</a></div>
                        <div class="sub_tit_small"><a href="javascript:;" id="openPopupBtn_2">이메일무단수집거부</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--e.footer-->
        <a href="#" id="topButton"><img src="../../img/ico/top_btn.png" alt="TOP"></a>
    </div>
</body>

<script type="text/javascript">

// 페이지 로드 시 바이오사업주소 내용을 보이게 함
$(".bio_loca_wrap").show();
$(".ai_loca_wrap").hide();
$(".location-tab li").click(function() {
    // 모든 탭에서 'on' 클래스 제거
    $(".location-tab li").removeClass('on');
    
    // 클릭된 탭에만 'on' 클래스 추가
    $(this).addClass('on');
    
    // 모든 탭의 내용을 숨김
    $(".bio_loca_wrap, .ai_loca_wrap").hide();
    
    // 클릭된 탭에 따라 해당 내용만 보여줌
    if($(this).index() == 0) { // 바이오사업주소 클릭 시
        $(".bio_loca_wrap").show();
    } else if($(this).index() == 1) { // AI사업부 주소 클릭 시
        $(".ai_loca_wrap").show();
    }
});
</script>

</html>